@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para escritorio por defecto */
.carousel-item {
  width: 33.33%; /* Ejemplo de 3 imágenes a la vez en escritorio */
}

/* Estilos para pantallas móviles (ancho <= 768px) */
@media (max-width: 768px) {
  .carousel-item {
    width: 80%; /* Ejemplo de una imagen casi completa y borde de la siguiente en móvil */
    flex: 0 0 80%; /* Si usas Flexbox, esto es mejor */
  }
}

body {
  background-color: #f3f4f6;
  margin: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Animaciones para el Modal */
@keyframes modal-in {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-modal {
  animation: modal-in 0.2s ease-out forwards;
}

/* Efecto de Glassmorphism para el fondo */
.backdrop-blur-sm {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}